// style.scss - Styling for PeopleDB
$primaryColor: #41afff;
$secondaryColor: #dadada;

$primaryTxtColor: #121212;
$secondaryTxtColor: $secondaryColor;

.header {
    color: $primaryTxtColor;
}
ul {
    padding: 0px;
}